


<h1>Your game details: </h1>
<div id="inputickyuwuadalsiveci">
<input class="form-control" id="Id" name="Id" type="text" [(ngModel)]="id" placeholder="id">
<input class="form-control" id="Name" name="Name" type="text" [(ngModel)]="name" placeholder="Name">
<input class="form-control" id="Price" name="Price" type="text" [(ngModel)]="price" placeholder="Price">
<input class="form-control" id="Studio" name="Studio" type="text" [(ngModel)]="studio" placeholder="Studio">

<button class="btn-primary btn" (click)="addGame()">Add</button>

<table>

  <thead>

  <td>Id</td>
  <td>Name</td>
  <td>Price</td>
  <td>Studio</td>
  </thead>

  <tr *ngFor="let gameDetail of games" class="gameDetail">

    <td>{{gameDetail.id}}</td>
    <td>{{gameDetail.name}}</td>
    <td>{{gameDetail.price}}</td>
    <td>{{gameDetail.studio}}</td>

    <td><button class="btn-primary btn" (click)="checkGame(gameDetail.id)">Detail</button></td>
    <td><button class="btn-primary btn" (click)="deleteGame(gameDetail.id)">Delete</button></td>
    <!--<td><button class="btn-primary btn" (click)="editGame(gameDetail.id)">Edit</button></td>-->

  </tr>

</table>
</div>
