
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/games">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
    </ul>
    <!--<p>{{User.username}}</p>-->
  </div>
</nav>

<h1>Your game details: </h1>
<div id="inputickyuwuadalsiveci">
<input class="form-control" id="Id" name="Id" type="text" [(ngModel)]="id" placeholder="id">
<input class="form-control" id="Name" name="Name" type="text" [(ngModel)]="name" placeholder="Name">
<input class="form-control" id="Price" name="Price" type="text" [(ngModel)]="price" placeholder="Price">
<input class="form-control" id="Studio" name="Studio" type="text" [(ngModel)]="studio" placeholder="Studio">

<button class="btn-primary btn" (click)="addGame()">Add</button>

<table>

  <thead>

  <td>Id</td>
  <td>Name</td>
  <td>Price</td>
  <td>Studio</td>
  </thead>

  <tr *ngFor="let gameDetail of games" class="gameDetail">

    <td>{{gameDetail.id}}</td>
    <td>{{gameDetail.name}}</td>
    <td>{{gameDetail.price}}</td>
    <td>{{gameDetail.studio}}</td>

    <td><button class="btn-primary btn" (click)="checkGame(gameDetail.id)">Detail</button></td>
    <td><button class="btn-primary btn" (click)="deleteGame(gameDetail.id)">Delete</button></td>
    <td><button class="btn-primary btn" (click)="editGame(gameDetail.id)">Edit</button></td>

  </tr>

</table>
</div>
