<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/games">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
    </ul>
  </div>
</nav>

<div>
  <div>
    <h1 class="display-4">Login</h1>
    <form>
      <div class="form-group">
        <label>Username</label>
        <input type="text" name="username" [(ngModel)]="username" class="form-control" >
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" name="password" [(ngModel)]="password" class="form-control">
      </div>
      <button (click) = "clickedButton()">Log in!</button>
    </form>
  </div>
</div>
